{% extends 'base.html' %}

{% block content %}
    <div class="row gx-5">
        {% for item in tovar %}
            <div class="col">
                <div class="card">
                    <h5 class="card-header">{{ item.title }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Арт.{{ item.article }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
